<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema Escola</title>
    <link rel="stylesheet" th:href="@{/css/estilo.css}">
</head>
<body>
    <h1 style="text-align: center;">Sistema Escola</h1>
    <h3 style="text-align: center;">
        <a th:href="@{/alunos/criar}">
            <img th:src="@{/images/inserir.png}">
        </a>
    </h3>
    <!-- Tabela para exibir os alunos cadastrados -->
    <table style="margin: 0 auto; border: 1px solid black; border-collapse: collapse;">
        <table style="margin: 0 auto;">
        <tr>
            <th colspan="8" style="text-align: center;">Lista de Alunos</th>
        </tr>
        <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Endereço</th>
            <th>Telefone</th>
            <th>RM</th>
            <th>CPF</th>
            <th>Curso</th>
            <th colspan="2">Ações</th>
        </tr>
        <tr th:each="aluno : ${alunos}">
            <td th:text="${aluno.idAluno}"></td>
            <td th:text="${aluno.nomeAluno}"></td>
            <td th:text="${aluno.enderecoAluno}"></td>
            <td th:text="${aluno.telefoneAluno}"></td>
            <td th:text="${aluno.rmAluno}"></td>
            <td th:text="${aluno.cpfAluno}"></td>
            <td th:text="${aluno.curso.nomeCurso}"></td>
             <td><a th:href="@{/alunos/editar/{id}(id=${aluno.idAluno})}"><img th:src="@{/images/editar.png}" style="height: 30px; width: 30px;"></a>
                 <a th:href="@{/alunos/excluir/{id}(id=${aluno.idAluno})}"><img th:src="@{/images/excluir.png}" style="height: 30px; width: 30px;"></a>
            </td>
        </tr>
    </table>
    <p style="text-align: center;">
        <a th:href="@{/escola}">
            <img th:src="@{/images/voltar.png}">
        </a>
    </p>
</body>
</html>