<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Nome Telefone</title>
</head>
<body>
    <table>
        <tr>
            <td colspan="2">Lista nomes e telefones</td>
        </tr>
        <tr>
            <th>Nome</th>
            <th>Telefone</th>
        </tr>
        <tr th:each="aluno : ${alunos}">
            <td th:text="${aluno.nomeAluno}"></td>
            <td th:text="${aluno.telefoneAluno}"></td>
        </tr>
    </table>
    <a href="/escola">Voltar</a>
</body>
</html>