<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Nome Telefone</title>
    <link rel="stylesheet" th:href="@{/css/estilo.css}">
</head>
<body>
    <h1 style="text-align: center;">Sistema Escola</h1>
    <table style="width: 50%; margin: auto;">
        <tr>
            <th colspan="2" style="text-align: center;">Alunos e cursos</th>
        </tr>
        <tr>
            <th>Nome</th>
            <th>Curso</th>
        </tr>
        <tr th:each="aluno : ${alunos}">
            <td th:text="${aluno.nomeAluno}"></td>
            <td th:text="${aluno.nomeCurso}"></td>
        </tr>
    </table>
        <p style="text-align: center;">
        <a th:href="@{/escola}">
            <img th:src="@{/images/voltar.png}">
        </a>
    </p>
</body>
</html>