<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema Escola</title>
     <link rel="stylesheet" th:href="@{/css/estilo.css}">
</head>
<body>
    <h1 style="text-align: center;">Sistema Escola</h1>
    <div style="text-align: center; background-color: white;">
        <a th:href="@{/alunos/listar}"><img th:src="@{/images/alunos.png}" style="height:100px; width:100px;"></a>
        <a th:href="@{/cursos/listar}"><img th:src="@{/images/cursos.png}" style="height:100px; width:100px;"></a>
        <a th:href="@{/cidades/listar}"><img th:src="@{/images/cidades.png}" style="height:100px; width:100px;"></a>
        <a th:href="@{/alunos/listar-nome-telefone}"><img th:src="@{/images/cidades.png}" style="height:100px; width:100px;"></a>
    </div>
    </div>
</body>
</html>